<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <settings>
      <setting name="ComponentManager.ProjectName" value="SageDotCom"></setting>
      <setting name="ComponentManager.WebProjectPath" value="C:\Projects\sage\SageDotCom.Web"></setting>
      <setting name="ComponentManager.DataProjectPath" value="C:\Projects\sage\SageDotCom.Data"></setting>
    </settings>

    <commands>
      
      <!--Open the Component Management dashboard-->
      <command name="componentmanager:dashboard" type="Score.ComponentManager.Commands.Dashboard, Score.ComponentManager" />
      
    </commands>

  </sitecore>
</configuration>