<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <settings>
      <setting name="ComponentManager.ProjectName" value="Resideo"></setting>
      <setting name="ComponentManager.BaseNamespace" value="Resideo.RDE"></setting>
      <setting name="ComponentManager.WebProjectPath" value="C:\Projects\Resideo\Resideo.RDE\Resideo.RDE.Web"></setting>
      <setting name="ComponentManager.DataProjectPath" value="C:\Projects\Resideo\Resideo.RDE\Resideo.RDE.Data"></setting>
    </settings>

    <commands>

      <!--Open the Component Management dashboard-->
      <command name="componentmanager:dashboard" type="Score.ComponentManager.Commands.Dashboard, Score.ComponentManager" />

    </commands>
    <!--<events>
      <event name="item:saved">
        <handler type="Score.ComponentManager.Events.CMRemoveWhiteSpaces, Score.ComponentManager" method="OnItemSaved"></handler>
      </event>
    </events>-->
  </sitecore>
</configuration>